@media (max-width: 1670px) {
  .header__suptitle {
    font-size: 20px;
  }

  .header__title {
    font-size: 150px;
  }

  .header__trips {
    column-gap: 15px;
  }

  .trip {
    padding-left: 60px;
    background-position: 15px 40px;
    width: 23%;
  }
}

@media (max-width: 1140px) {
  .nav {
    display: none;
  }

  .header__suptitle {
    font-size: 16px;
  }

  .header__title {
    font-size: 100px;
  }

  .header__trips {
    visibility: hidden;
  }

  .tns-nav button {
    height: 60px;
  }
}

@media (max-width: 800px) {
  .header__socials,
  .header__seemore {
    display: none;
  }

  .header__nav {
    padding: 30px 40px 0;
  }

  .tns-nav {
    top: unset;
    right: unset;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
  }

  .tns-nav button {
    width: 60px;
    height: 2px;
    flex-shrink: 0;
  }
}

@media (max-width: 640px) {
  .header__nav {
    padding: 20px 20px 0;
    flex-shrink: 0;
  }

  .logo-text {
    display: none;
  }

  .header__title {
    font-size: 80px;
  }

  .tns-nav button {
    width: 40px;
  }
}

@media (max-width: 500px) {
  .header__suptitle {
    font-size: 14px;
  }

  .header__title {
    font-size: 60px;
  }

  .tns-nav button {
    width: 40px;
  }
}

@media (max-width: 340px) {
  .header__title {
    font-size: 50px;
  }

  .tns-nav button {
    width: 30px;
  }
}
